@charset "UTF-8";
@import "grid.css";

.footer {
  background: #000;
  color: #ffffff;
}

  .footer h1 {
    color: #ffffff;
  }

.footer-content {
  margin: 10px 0 40px 0;
}

.support-footer {
  background: #000000;
  color: #ffffff;
  padding: 10px 0 20px 0;
  text-align: center;
  margin-top: -1px;
}

  .support-footer a {
    color: #ffffff;
    padding: 5px 21px;
  }

    .support-footer a:hover {
      text-decoration: none;
    }


  .support-footer ul {
    margin-bottom: 0;
  }

    .support-footer ul li {
      display: inline;
      font-size: .8em;
    }


/* Large Tablets in portrait */
@media only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1279px) {
}
/* Small Tablets in portrait */
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
}
/* Phones in portrait */
@media only screen and (orientation: portrait) and (max-width : 767px) {
  .support-footer ul li {
    display: block;
    /*ToDo: Delete once after some thorough testing: padding-right: 0;*/
    line-height: 3em;
  }
}


/* Large screens */
@media only screen and (orientation: landscape) and (min-width: 1281px) {
}
/* Normal screens and Tablets in landscape */
@media only screen and (orientation: landscape) and (max-width: 1280px) {
}
/* Phones with a long screen in landscape */
@media only screen and (orientation: landscape) and (max-width: 1024px) {
}
/* Phones in landscape */
@media only screen and (orientation: landscape) and (max-width: 811px) {
}
