

<div class="card text-left">
  <div class="card-body">

    <div class="col-sm-12">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type" (click)="close()"> <strong>{{alertTypePrefix}} </strong> {{ alert.message }}</ngb-alert>
      </p>
    </div>
    <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="form-check-label" for="firstname">
          Name:
        </label>
        <input class="form-control" required id="first-name" type="text" formControlName="firstname" [readonly]="readOnly" placeholder="FirstName" title="First name is mandatory">
      </div>
      <div>
        <label class="form-check-label" for="lastName">
          Last Name:
        </label>
        <input [readonly]="readOnly" required class="form-control" id="lastName" type="text" formControlName="lastname" placeholder="LastName" title="Last name is mandatory">
      </div>
      <div>
        <label class="form-check-label" for="gender">
          Gender:
        </label>
        <select [attr.disabled]="readOnly" required class="form-control" formControlName="gender" title="Please select gender" placeholder="Gender">
          <option value="male" name="gender">Male</option>
          <option value="female" name="gender">Female</option>
        </select>

      </div>
      <div>
        <label class="form-check-label" for="email">
          Email:
        </label>
        <input type="email" required [readonly]="readOnly" class="form-control" id="email" formControlName="email"
               placeholder="Please enter your email" title="Please enter email in xxx@xx. format" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      </div>
      <div>
        <label class="form-check-label" for="telephone">
          Telephone:
        </label>
        <input required [readonly]="readOnly" class="form-control" maxlength="10" size="10" id="telephone" type="tel" placeholder="Enter your contact details"
              
               formControlName="telephone" title="Please enter phone number(10 digits-Numbers only)">
      </div>
      <div>
        <label class="form-check-label" for="city">
          City:
        </label>
        <input required [readonly]="readOnly" class="form-control" id="city" type="text" formControlName="city" title="Fill your city details" placeholder="City">
      </div>
      <div>
        <label class="form-check-label" for="dateofBirth">
          Date Of birth:
        </label>
        <div class="input-group mb-3">
          <input required [readonly]="readOnly" class="form-control" placeholder="yyyy-mm-dd" id="dateofBirth" formControlName="dateofBirth"
                 name="dp" ngbDatepicker #d="ngbDatepicker" title="Fill your Date of Birth">
          <div class="input-group-append" text-a>
            <button class="btn btn-outline-secondary calendar" *ngIf="!readOnly" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!--<input class="form-control" id="dateofBirth" type="text" formControlName="dateofBirth">-->
      </div>
      <div>
        <label class="form-check-label" for="notes">
          Notes:
        </label>
        <input [readonly]="readOnly" class="form-control" id="notes" type="text" formControlName="notes">
      </div>
    </form>

  </div>
  <div class="card-footer text-muted text-right">
    <button class="btn btn-primary" *ngIf="!isEditing && !isViewing" (click)="onSubmit()" type="submit"> <i class="fa fa-save" aria-hidden="true"></i> Submit</button>
    <button class="btn btn-primary" *ngIf="isEditing" (click)="onSave()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>&nbsp;
    <button class="btn btn-danger" (click)="onClose()"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancel</button>
  </div>
</div>
