
<p *ngIf="!users"><em>Loading...</em></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  @import '~bootstrap/dist/css/bootstrap.min.css';
  <style>
    body {
      color: #566787;
      /*    background: #f5f5f5;*/
    }

    .btn-rounded {
      border-radius: 10em !important;
    }

    .table-responsive {
      margin: 30px 0;
    }

    .table-wrapper {
      /* min-width: 1200px;*/
      background: #fff;
      padding: 20px;
      /*   box-shadow: 0 10px 10px rgba(0,0,0,.05);*/
    }

    .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
      min-width: 100%;
    }


    .add-new {
      /*  font-weight: bold;*/
      border-radius: 50px;
    }

    .table-title h2 {
      margin: 8px 0 0;
      font-size: 22px;
    }

    .search-box {
      position: relative;
      float: right;
    }

      .search-box input {
        height: 34px;
        border-radius: 20px;
        padding-left: 35px;
        border-color: #ddd;
        box-shadow: none;
      }

        .search-box input:focus {
          border-color: #3FBAE4;
        }

      .search-box i {
        color: #a0a5b1;
        position: absolute;
        font-size: 19px;
        top: 8px;
        left: 10px;
      }

    table.table tr th, table.table tr td {
      border-color: #e9e9e9;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
      background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }

    table.table th i {
      font-size: 13px;
      margin: 5px 5px;
      cursor: pointer;
    }
    /*  table.table th:last-child {
        min-width:20px;
      max-width: 50px;
    }*/
    table.table td:last-child {
      /*  max-width: 50px;*/
    }

    table.table td a {
      color: #a0a5b1;
      display: inline-block;
      /* margin: 5px 5px;*/
    }

      table.table td a.add {
        color: #28a745;
      }

      table.table td a.edit {
        color: #007bff;
      }

      table.table td a.view {
        color: #17a2b8;
      }


      table.table td a.delete {
        color: #E34724;
      }

    table.table td i {
      font-size: 19px;
    }

    .pagination {
      float: right;
      margin: 0 0 5px;
      color: lightyellow;
    }

      .pagination li a {
        border: none;
        font-size: 95%;
        width: 30px;
        height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 30px !important;
        text-align: center;
        padding: 0;
      }

        .pagination li a:hover {
          color: #000000;
        }

      .pagination li.active a {
        background: #03A9F4;
        color: white;
      }

        .pagination li.active a:hover {
          background: #0397d6;
        }

      .pagination li.disabled i {
        color: #ccc;
      }

      .pagination li i {
        font-size: 16px;
        padding-top: 6px
      }

    .hint-text {
      float: left;
      margin-top: 6px;
      font-size: 95%;
    }

    .ellipsis {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  </style>
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>
<body>
  <div class="card text-left">
    <div class="card-header">
      <div class="table table-title">
        <div class="row">
          <div class="col-sm-2">
            <button (click)="onAddUser()" class="btn btn-success btn-sm add-new"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span>Add User</span></button>
          </div>
          <div class="col-sm-4">
            <p *ngFor="let alert of alerts">
              <ngb-alert [type]="alert.type" (click)="close()"> <strong>{{alertTypePrefix}} </strong> {{ alert.message }}</ngb-alert>
            </p>
          </div>

          <div class="custom-control col-sm-3 custom-switch text-right">
            <input type="checkbox" class="custom-control-input"  (change)="setEditableTable($event.target.checked)" id="customSwitch">
            <label class="custom-control-label" for="customSwitch">Editable Table</label>
          </div>

          <div class="col-sm-3">
            <div class="search-box">
              <i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="searchTerm" (keyup)="search($event.target.value)" class="form-control" placeholder="Search&hellip;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table mdbTable class='table table-striped table-hover table-bordered' aria-labelledby="tableLabel" *ngIf="users">
        <thead>
          <tr>
            <th>FirstName </th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Tel.No</th>
            <th>City</th>
            <th>D.O.B</th>
            <th>Notes</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | pageFilter:searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i">

            <td class="ellipsis" (keyup)="changeValue(user.id, 'firstName', $event)" (blur)="updateList(user.id, 'firstName', $event)" contentEditable={{contentEditable}} title="{{ user.firstName }}" data-toggle="tooltip">{{ user.firstName }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'surname', $event)" (blur)="updateList(user.id, 'surname', $event)" contentEditable={{contentEditable}} title="{{ user.surname }}" data-toggle="tooltip">{{ user.surname }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'gender', $event)" (blur)="updateList(user.id, 'gender', $event)"contentEditable={{contentEditable}} title="{{ user.gender }}" data-toggle="tooltip">{{ user.gender }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'email', $event)" (blur)="updateList(user.id, 'email', $event)" contentEditable={{contentEditable}} title="{{ user.email }}" data-toggle="tooltip">{{ user.email }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'telephoneNumber', $event)" (blur)="updateList(user.id, 'telephoneNumber', $event)" contentEditable={{contentEditable}} title="{{ user.telephoneNumber }}" data-toggle="tooltip">{{ user.telephoneNumber }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'city', $event)" (blur)="updateList(user.id, 'city', $event)" contentEditable={{contentEditable}} title="{{ user.city }}" data-toggle="tooltip">{{ user.city }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'dateOfBirth', $event)" (blur)="updateList(user.id, 'dateOfBirth', $event)" contentEditable={{contentEditable}} title="{{ user.dateOfBirth }}" data-toggle="tooltip">{{ user.dateOfBirth }}</td>
            <td class="ellipsis" (keyup)="changeValue(user.id, 'notes', $event)" (blur)="updateList(user.id, 'notes', $event)" contentEditable={{contentEditable}} title="{{ user.notes }}" data-toggle="tooltip">{{ user.notes }}</td>
            <td style="text-align:left">
              <!--<button type="button" color="danger" rounded="true" size="sm" class="my-0 btn-danger btn-rounded btn-sm btn" (click)="onDelete(user)">  <i class="fa fa-trash" aria-hidden="true"></i> Delete </button>-->
              <a href="#" (click)="onViewUser(user.id)" class="view" title="View Details" data-toggle="tooltip">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a> |
              <a href="#" (click)="onEditUser(user.id)" class="edit" title="Edit" data-toggle="tooltip">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a> |
              <a href="#" class="delete" title="Delete" data-toggle="tooltip" (click)="onDelete(user)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted text-right">
      <div class="clearfix">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                        [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
      </div>
    </div>
  </div>


</body>

<modal [events]="eventsSubject.asObservable()" #addUserModal [modalConfig]="modalConfig">
  <app-add-user [events]="addUserModal.modalEventsSubject.asObservable()" [isEditing]="false" [parentModal]="addUserModal"></app-add-user>
</modal>
<modal [events]="eventsSubject.asObservable()" #viewUserModal [modalConfig]="modalConfig">
  <app-add-user [events]="viewUserModal.modalEventsSubject.asObservable()" [isViewing]="true" [readOnly]="true" [parentModal]="viewUserModal"></app-add-user>
</modal>

<modal [events]="eventsSubject.asObservable()" #editUserModal [modalConfig]="modalConfig">
  <app-add-user [events]="editUserModal.modalEventsSubject.asObservable()" [isEditing]="true" [parentModal]="editUserModal"></app-add-user>
</modal>
</html>



