<header>
  <style>
    .logo {
      width: 120px;
      height: 90px;

    }
  </style>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background:black;">
    <div class="container">
      <a class="navbar-brand" style="color:white" [routerLink]="['/']"> <img class="logo" src="e4.PNG" alt="logo">  User Portal</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
      </div>
    </div>
  </nav>
</header>

